body.new_Design {
	background-color: $BGcolor;
	@media only screen and (max-width: $windowsize_M) {
		padding-top: 80px;
	}
	header {
		width: 100%;
		height: 100px;
		padding: 0 5em 0 2.5em;
		background-color: white;
		box-shadow: 0px 0.3px 4px 1px rgba(0,0,0,0.3);
		z-index: 9;
		.mu_Logo {
			width: 80px;
			height: 80px;
			// background-color: $ThemeTone;
			border-radius: 50%;
			margin: 10px;
			float: left;
			background-image: url("./../icon/Logo.png");
			background-position: center center;
			background-size: cover;
		}
		.mu_title {
			font-size: 1.8em;
			float: left;
			line-height: 3.5;
			margin-left: 15px;
			color: $ThemeTone;
			font-weight: 500;
		}
		div {
			float: right;
			.mu_userName {
				height: 60px;
				margin: 20px 0;
				line-height: 3;
				float: left;
				font-size: 1.2em;
				color: $ThemeFont;
				i.user.icon {
					color: white;
					-webkit-text-stroke: 2px $ThemeFont;
				}
			}
			// button {
			// 	float: right;
			// 	width: 30px;
			// 	height: 30px;
			// 	margin: 32px 0 38px 0;
			// 	font-size: 1.2em;
			// }
		}
		.mu_MenuBarToggle {
			@include B2C(50px);
			float: right;
			margin-top: 15px;
			display: none;
		}
		@media only screen and (max-width: $windowsize_L) {
			height: 80px;
			padding-right: 2em;
			padding-left: 2em;
			.mu_Logo {
				width: 60px;
				height: 60px;
			}
			.mu_title {
				line-height: 2.8;
			}
			div {
				.mu_userName {
					height: 40px;
					line-height: 2.2;
				}
			}
		}
		@media only screen and (max-width: $windowsize_M) {
			padding-left: 1em;
			padding-right: 1em;
			position: fixed;
			top: 0;
			left: 0;
			transition: left 1s;
			.mu_title {
				display: none;
			}
			.mu_MenuBarToggle {
				display: block;
			}
		}
		@media only screen and (max-width: $windowsize_S) {
			padding: 0;
			div {
				margin-right: 5px;
				.mu_userName {
					line-height: 2.5;
					font-size: 1em;
				}
			}
		}
	}
	.mu_mainTB {
		padding: 0 60px;
		margin-top: 5px;
		@media only screen and (max-width: $windowsize_L) {
			padding: 0;
		}
		nav.mu_MenuBar {
			width: 100%;
			height: 60px;
			border-bottom: 1px solid rgb(180,180,180);
			transition: right 1s;
			ul {
				height: 100%;
				text-align: center;
				background-color: $ThemeFont;
				li {
					transition: height .2s;
					background-color: $BGcolor;
					width: calc(100% / 6);
					height: 100%;
					float: left;
					padding: 1.2em 0;
					color: rgb(51,51,51);
					i {
						background-color: $BGcolor;
						transition: transform linear .3s;
						display: inline-block;
						font-size: 1.1em;
					}
					&:hover {
						@extend .navBar_selected;
						cursor: pointer;
					}
				}
			}
			@media only screen and (max-width: $windowsize_M) {
				position: fixed;
				right: -250px;
				top: 0;
				width: 250px;
				height: 100vh;
				z-index: 8;
				ul {
					li {
						float: right;
						width: 100%;
						height: 80px;
						padding: 1.5em 0;
					}
				}
			}
		}
		table {
			width: 97%;
			margin: 1.5em auto;
			height: calc(100vh - 240px);
			border-color: $TBTheme;
			text-align: center;
			thead {
				text-align: center;
				line-height: 2;
				tr {
					th {
						background-color: $TBTheme;
						font-size: 1.25em;
						color: white;
						font-weight: 500;
						padding: 1.25em 0;
					}
				}
			}
			tbody {
				tr {
					height: 46px;
				}
			}
		}
		footer {
			width: 97%;
			margin: 20px auto;
			display: flex;
			flex-wrap: wrap-reverse;
			justify-content: space-between;
			.mu_quantity {
				padding: .5em 2.1em .5em 1em;
				min-height: 30px;
				height: 30px;
				min-width: 150px;
				margin-bottom: 10px;
				i {
					padding: .5em 1em!important;
				}
			}
			.mu_paging {
				min-height: 30px;
				height: 30px;
				margin-bottom: 10px;
				.item, .active {
					padding: .5em 1em!important;
					min-width: 0;
				}
			}
		}
	}
	.mu_UserInfo {
		.mu_profileHead {
			width: 90%;
			border-bottom: 1px solid rgb(180,180,180);
			margin: auto;
			h1 {
				color: $ThemeFont;
				font-size: 1.6em;
				padding: 1em 3em;
				@media only screen and (max-width: $windowsize_M) {
					padding: 1em;
				}
			}
		}
		.mu_sheet {
			width: 100%;
			max-width: 800px;
			min-height: 800px;
			background-color: white;
			margin: 25px auto;
			border: 1px solid rgba(0,0,0,.5);
			padding: 2rem 20px;
			.mu_infoGroup {
				h2 {
					max-width: 640px;
					margin: 40px auto 0;
					font-weight: inherit;
					&:after {
						content: "";
						width: 100%;
						display: inline-block;
						border-bottom: 1px solid rgb(180,180,180);
						margin: 1rem 0;
					}
				}
				.mu_row {
					display: flex;
					flex-flow: row wrap;
					padding-left: 10%;
					max-width: 640px;
					margin: 0 auto;
					.mu_Left, .mu_Right {
						font-size: 1em;
						min-width: 250px;
					}
					.mu_Left {
						font-weight: bold;
						width: 49%;
						margin-bottom: 1.2em;
					}
					.mu_Right {
						width: 40%;
						margin-bottom: 2.4em;
					}
				}
			}
		}
		button {
			padding: .7em 1.2em;
			border-radius: 5px;
			border: 1px solid $TBTheme;
			color: $ThemeFont;
			font-size: 1.1em;
			margin: 25px auto;
			display: block;
		}
	}
	#mu_scrollTop {
		transition: opacity .3s, right 1s;
		width: 45px;
		height: 45px;
		background-color: rgb(150,150,150);
		position: fixed;
		bottom: 60px;
		right: 20px;
		opacity: 0;
		z-index: -1;
		border-radius: 10px;
		color: white;
		cursor: pointer;
		&:hover {
			opacity: 1!important;
		}
		i {
			display: block;
			width: 100%;
			height: 100%;
			padding-top: 25%;
		}
	}
}