$BGcolor: rgb(247,247,247);
$ThemeTone: rgb(0,70,0);
$ThemeFont: #4d8a00;
$TBTheme: rgba(97, 169, 7, 0.83);
$windowsize_L: 992px;
$windowsize_M: 768px;
$windowsize_S: 576px;

body {
	font-family: 'Pridi', serif;
	h1, h2, th {
		font-family: 'Athiti', sans-serif!important;
	}
}

button {
	padding: 0;
	background-color: inherit;
	border: none;
}

.navBar_selected {
	height: calc(100% - 3px)!important;
	color: $ThemeFont!important;
	i {
		transform: scale(1.2);
	}
	@media only screen and (max-width: $windowsize_M) {
		width: calc(100% - 5px)!important;
		height: 80px!important;
	}
}

.menuBar_shadow {
	ul {
		box-shadow: 0px 0.3px 4px 1px rgba(0,0,0,0.3);
	}
}

@mixin B2C($size) {
	width: $size;
	height: $size;
	position: relative;
	&:before,&:after,span {
		transition: all 0.5s;
		display: block;
		width: 40%;
		height: 10%;
		background-color: $TBTheme;
		position: absolute;
		left: 50%;
	}
	&:before {
		content: "";
		top: 30%;
		transform: translate(-50%, 0);
	}
	&:after {
		content: "";
		bottom: 30%;
		transform: translate(-50%, 0);
	}
	span {
		top: 50%;
		transform: translate(-50%, -50%);
	}
}

.active_B2C {
	&:before {
		top: 50%!important;
		transform: translate(-50%, -50%) rotateZ(45deg)!important;
	}
	&:after {
		bottom: 50%!important;
		transform: translate(-50%, 50%) rotateZ(-45deg)!important;
	}
	span {
		width: 0px!important;
	}
}