<main-container>
    <header>
        <main-header></main-header>
        <main-menu-comp></main-menu-comp>
    </header>
    <content>
        <two-side>
            <account-comp sidebar></account-comp>
            <sub-menu sidebar></sub-menu>
            <content-container content>
                <router-outlet></router-outlet>
            </content-container>
        </two-side>
    </content>
</main-container>
