<!--<wrapper>-->
<wrapper-card>
    <ul>
        <div *ngFor="let head of listview.getHeader()">
            <h3 class="ui header" *ngIf="head != '$implicit'">{{head}}</h3>
            <div *ngFor="let item of listview.getList(head)">
                <p class="mu_Left">{{item.label}}</p>
                <p class="mu_Right">{{listview.getDataItem(item.name) || "ว่าง"}}</p>
            </div>
        </div>
    </ul>
</wrapper-card>
<!--</wrapper>-->