
<table-comp [control]="cftable" (onClickColumn)="onClickColumn($event)"></table-comp>


<footer *ngIf="cftable.getBodyRow().length > 0">
    <sizination-comp [cfsizination]="cftable.getSizination()" [(ngModel)]="currentSize"></sizination-comp>
    <pagination-comp [cfpagination]="cftable.getPagination()" [(ngModel)]="currentPage" [class]="'right'"></pagination-comp>
</footer>




