@import "~/../src/styles.scss";
i.user.icon {
	color: $ThemeTone;
	-webkit-text-stroke: 1px white;
}

.menu {
	right: 0;
	left: auto !important;
	font-weight: 300 !important;
	z-index: 18!important;
}
.power{
	color:#f45858;
	position:relative;
	top:1px;
}
