<div class="ui dropdown" placeholder="">
  <div class="text"><i class="user icon"></i></div>
  <div class="menu">
    <div class="item" [routerLink]="['/member']">
      ข้อมูลสมาชิก
    </div>
    <div class="item" [routerLink]="['/member/resetpass']">
      เปลี่ยนรหัสผ่าน
    </div>
    <div class="item" (click)="logout()">
      <i class="power icon"></i>
      ออกจากระบบ
    </div>
  </div>
</div>