<div class="wrapper" *ngFor="let row of cftable.getBodyRow() let row_index = index">
    <div *ngFor="let header of cftable.getTable().header.heads">
        <i class="head">{{header.getLabel()}}</i>
        <i class="content">{{cftable.getColumnOnRow(row_index,header.getId()).getValue()}}</i>
    </div>
</div>  