@import "~/../src/styles.scss";

div {
  width: 100%;
  max-width: 1000px;
  background-color: white;
  margin: 0 auto;
  border: 1px solid $LightThemeTone;
  border-radius: 5px;
  padding: 2rem 10%;
  &:after {
    content: "";
    display: block;
    clear: both;
  }
  @media only screen and (max-width: $windowsize_M) {
    border: none;
    background-color: inherit;
  }
}