<section>
<cf-list >
        <cf-item class="item" *ngFor="let item of receiptLists">
            <span text><i>เดือน <b>{{item.monthObj?.full}}</b></i> <i>ปี <b>{{item.year}}</b></i></span>
            
            <div btn-container>
                <span text class="empty_msg" [@noDataState]="item.isEmpty ? 'active':'inactive'">ไม่มีเอกสาร</span>
                <button class="ui button tiny positive basic" id="custom-btn" [ngClass]="{'loading':item.loading}" (click)="openFile(item)">ดูรายละเอียด</button>
            </div>    
        </cf-item>         
</cf-list>
</section>
