@import "~/../src/styles.scss";
b{
    font-weight: bold;
    color:$ThemeFont;
}
section{
    margin: 1.5em auto;
    width:96%;
    
}
.empty_msg{
    color:#c93232;
    text-align: right;
    padding-left: 30px;
    display: inline-block;
    position: relative;
    z-index: 10;
}
#custom-btn{
    position: relative !important;
    
    z-index: 15 !important;
    background-color: #F7F7F7 !important;
}
i{
    display: inline-block;
    width:130px;
    b{
        padding-left: 5px;
        display: inline-block;
        font-weight: 300;
    }
    &:first-of-type{
        margin-right:15px;
    }
}