<ng-template let-cfitem="cfitem" #openbtn>
    <button class="ui compact icon button positive" (click)="openFile(cfitem)">
         <i class="file text icon"></i>
    </button>
</ng-template>
<table-comp [control]="cftable" (onClickColumn)="onClickColumn($event)" [extendColumn]="openbtn">

</table-comp>




