<main-container>
    <header>
        <main-header [hasMenu]="false"></main-header>
       
        <main-menu-comp></main-menu-comp>
        <sub-header></sub-header>
    </header>
    <content>
        <content-container>
            <router-outlet></router-outlet>
        </content-container>
    </content>
</main-container>
