<form class="ui form" [formGroup]="setPassForm" [ngClass]="{error: !setPassForm.valid}" (ngSubmit)="submit()">
  <div class="field small">
    <label>รหัสผ่านปัจจุบัน</label>
    <div class="ui input small">
      <input type="password" formControlName="curPass" name="current-pass" placeholder="รหัสผ่านปัจจุบัน">
      
    </div>
    <div class="ui error message"  *ngIf="!(setPassForm.controls.curPass.valid || (setPassForm.controls.curPass.pristine && !submitted))">
        <p>กรุณาระบุรหัสผ่าน</p>
    </div>
  </div>
  <div class="field">
    <label>กรอกรหัสผ่านใหม่</label>
    <div class="ui input small">
      <input type="password" formControlName="newPass" name="new-pass" placeholder="กรอกรหัสผ่านใหม่">
    </div>
    <div class="ui error message"  *ngIf="!(setPassForm.controls.newPass.valid || (setPassForm.controls.newPass.pristine && !submitted))">
        <p>กรุณาระบุรหัสผ่านใหม่</p>
    </div>
  </div>
  <div class="field">
    <label>กรอกรหัสผ่านใหม่อีกครั้ง</label>
    <div class="ui input small">
      <input type="password" formControlName="renewPass" name="renew-pass" placeholder="กรอกรหัสผ่านใหม่อีกครั้ง">
    </div>
    <div class="ui error message"  *ngIf="!(setPassForm.controls.renewPass.valid || (setPassForm.controls.renewPass.pristine && !submitted))">
        <p>กรุณาระบุรหัสผ่านใหม่ให้ถูกต้อง</p>
    </div>
  </div>
  <button class="ui button green" type="submit">บันทึก</button>
</form>