@import "~/../src/styles.scss";
form {
    .field {
        margin-bottom: 30px;
        label {
            font-weight: normal;
        }
    }
    button {
        padding-top: 10px;
        padding-bottom: 10px;
        display: block;
        margin: 0 auto;
    }
}
.error.message{
    p{
         font-size: .9em;
    }
   
}