@import "~/../src/styles.scss";
div {
    width: 90%;
    border-bottom: 1px solid rgb(180,180,180);
    margin: auto;
    h1 {
        color: $ThemeFont;
        font-size: 1.6em;
        padding: 1em 3em;
        @media only screen and (max-width: $windowsize_M) {
            padding: 1em;
        }
    }
}