@import "~/../src/styles.scss";

.mu_pic {
    width: 150px;
    height: 200px;
    border-radius: 2px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto 30px;
}

.no-pic {
    background-size: 100px auto;
    background-color: #e4e4e4;
}

.mu_info {
    width: 100%;
    height: auto;
    .mu_row {
        padding-left: 50px;
        width: 100%;
        height: auto;
        margin-bottom: 5px;
        // background-color: green;
        &:after {
            content: "";
            display: block;
            clear: both;
        }
        .mu_outputField {
            float: left;
            margin-bottom: 20px;
            width: 100%;
            padding-right: 10px;
            // height: 45px;
            .mu_outputLabel {
                margin-bottom: 10px;
                font-weight: 300;
                color:#355b00;
                letter-spacing: 1px;
            }
            .mu_outputData {
                line-height: 1.6;
            }
        }
        .mu_short {
            width: 33.3333%;
        }
    }
}

.mu_infoWrapper {
    max-width: 700px;
    margin: 0 auto;
    
}

.mu_address {
    h2 {
        font-size: 1.4em;
        padding-bottom: 0.5em;
        color: $ThemeFont;
        border-bottom: 1px solid #b4b4b4;
        margin-bottom: 30px;  
    }
    .mu_row {
        max-width: 700px;
        margin: 0 auto;
    }
}

@media only screen and (max-width: $windowsize_M - 1) {
    .mu_pic {
        margin: 0 auto 30px;
        float: none;
    }
    .mu_info {
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
        float: none;
        padding: 0;
        .mu_row {
            padding: 0;
        }
        .mu_outputField {
            margin-left: 20px;
        }
        .mu_short {
            width: calc(50% - 20px)!important;
        }
    }
}