<wrapper>
   <ng-container [ngSwitch]="img_path">
    <div *ngSwitchCase="undefined" class="mu_pic no-pic" [ngStyle]="{'background-image': 'url(assets/icon/user.png)'}"></div>
     <div *ngSwitchDefault class="mu_pic" [ngStyle]="{'background-image': 'url('+ img_path +')'}"></div>
   </ng-container>  
  <section class="mu_info mu_infoWrapper">
    <div class="mu_row">
      <div class="mu_outputField mu_short">
         <p class="mu_outputLabel">
          เลขทะเบียน
        </p>
        <p class="mu_outputData">
          {{ member?.get('เลขทะเบียน') }}
        </p>
      </div>
      <div class="mu_outputField mu_short">
        <p class="mu_outputLabel">
          ชื่อ
        </p>
        <p class="mu_outputData">
          {{ member?.get('ชื่อ') }}
        </p>
      </div>
      <div class="mu_outputField mu_short">
        <p class="mu_outputLabel">
          นามสกุล
        </p>
        <p class="mu_outputData">
          {{ member?.get('นามสกุล') }}
        </p>
      </div>
    </div>
    <div class="mu_row">
      <div class="mu_outputField">
        <p class="mu_outputLabel">
          เลขประจำตัวประชาชน
        </p>
        <p class="mu_outputData">
          {{ member?.get('เลขประจำตัวประชาชน') }}
        </p>
      </div>
    </div>
    <div class="mu_row">
      <div class="mu_outputField mu_short">
        <p class="mu_outputLabel">
          อายุการเป็นสมาชิก
        </p>
        <p class="mu_outputData">
          {{ member?.get('อายุสมาชิก') }}
        </p>
      </div>
      <div class="mu_outputField mu_short">
        <p class="mu_outputLabel">
          เริ่มเป็นสมาชิก
        </p>
        <p class="mu_outputData">
          {{ member?.get('เริ่มเป็นสมาชิก') }}
        </p>
      </div>
    </div>
    <div class="mu_row">
      <div class="mu_outputField mu_short">
        <p class="mu_outputLabel">
          วัน/เดือน/ปีเกิด
        </p>
        <p class="mu_outputData">
          {{ member?.get('วัน/เดือน/ปีเกิด') }}
        </p>
      </div>
      <div class="mu_outputField mu_short">
        <p class="mu_outputLabel">
          วันออกบัตร
        </p>
        <p class="mu_outputData">
          {{ member?.get('วันออกบัตร') }}
        </p>
      </div>
      <div class="mu_outputField mu_short">
        <p class="mu_outputLabel">
          วันหมดอายุ
        </p>
        <p class="mu_outputData">
          {{ member?.get('วันหมดอายุ') }}
        </p>
      </div>
    </div>
    <div class="mu_row">
      <div class="mu_outputField mu_short">
        <p class="mu_outputLabel">
          หน่วยงาน
        </p>
        <p class="mu_outputData">
          {{ address?.get('หน่วยงาน') }}
        </p>
      </div>
      <div class="mu_outputField mu_short">
        <p class="mu_outputLabel">
          สถานภาพ
        </p>
        <p class="mu_outputData">
          {{ status }}
        </p>
      </div>
    </div>
    <div class="mu_row">
      <div class="mu_outputField mu_short">
        <p class="mu_outputLabel">
          โทรศัพท์
        </p>
        <p class="mu_outputData">
          {{ address?.get('โทรศัพท์') }}
        </p>
      </div>
      <div class="mu_outputField mu_short">
        <p class="mu_outputLabel">
          โทรศัพท์ภายใน
        </p>
        <p class="mu_outputData">
          {{ address?.get('โทรศัพท์ภายใน') }}
        </p>
      </div>
    </div>
  </section>
  <section class="mu_info mu_address">
    <h2>เอกสารจ่าหน้าซอง</h2>
    <div class="mu_row">
      <div class="mu_outputField mu_short">
        <p class="mu_outputLabel">
          ที่อยู่
        </p>
        <p class="mu_outputData">
          {{ address?.get('ที่อยู่') }}
        </p>
      </div>
      <div class="mu_outputField mu_short">
        <p class="mu_outputLabel">
          จังหวัด
        </p>
        <p class="mu_outputData">
          {{ address?.get('จังหวัด') }}
        </p>
      </div>
      <div class="mu_outputField mu_short">
        <p class="mu_outputLabel">
          รหัสไปรษณีย์
        </p>
        <p class="mu_outputData">
          {{ address?.get('รหัสไปรษณีย์') }}
        </p>
      </div>
    </div>
  </section>
</wrapper>