<div class="ui floated pagination menu {{class}} mu_paging">
    <a class="icon item" *ngFor="let page of cfpagination.page_available" (click)="setPage(page.value,true)" [ngClass]="{'active':page.isCurrent}">
        {{page.label}}
    </a>
</div>