.mu_paging {
            min-height: 40px;
            height: 40px;
            margin-bottom: 10px;
            .item, .active {
                padding: .5em 1em!important;
                min-width: 0;
            }
        }