<nav class="mu_MenuBar" [ngClass]="{active:isOpen}">
    
    <ul>
        <li *ngFor="let menu of menuItems" [routerLink]="[menu.url]" routerLinkActive="navBar_selected">
            <i >{{menu.label}}</i>
            
        </li>
    </ul>
</nav>

