@import "~/../src/styles.scss";
nav.mu_MenuBar {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid rgb(180, 180, 180);
  transition: right 1s;
  ul {
    height: 100%;
    text-align: center;
    background-color: white;
    li {
      transition: height .2s;
      background-color: $LightThemeTone;
      width: 100% / $menuItemNum;
      height: 100%;
      float: left;
      padding: 1.2em 0;
      color: white;
      i {
        background-color: $LightThemeTone;
        transition: transform linear .3s;
        display: inline-block;
        font-size: 1.1em;
      }
      &:hover {
        @extend .navBar_selected;
        cursor: pointer;
      }
    }
  }
  @media only screen and (max-width: $windowsize_M) {
    position: fixed;
    right: -250px;
    top: 0;
    width: 250px;
    height: 100vh;
    z-index: 1002;
    ul {
      li {
        float: right;
        width: 100%;
        height: 80px;
        padding: 1.5em 0;
      }
    }
  }
  &.active {
    right: 0;
    @extend .menuBar_shadow;
  }
}
