main {
    height: 100%;
}

main>.grid {
    height: 100%;
}

.image {
    margin-top: -100px;
}

.column {
    max-width: 450px;
}

// .content,
// // .submit {
// //     font-family: 'Quark-Light';
// // }
.alignedleft{
    text-align: left;
}
.forgetpass{
    text-decoration: underline;
    a{
        cursor: pointer;
    }
}