<main>
    <div class="ui middle aligned center aligned grid">
        <div class="column">
            <h2 class="ui image header">
                <div class="content">
                    Meajo Co-op E-mange
                </div>
            </h2>
            <form class="ui large form error" #f="ngForm" (ngSubmit)="login(f.value, f.valid,user.isSave)" novalidate>
                <div class="ui stacked secondary  segment">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" #username="ngModel" [(ngModel)]="user.username" name="username" placeholder="username" required>


                        </div>
                        <div class="ui error message" *ngIf="(!username.value && f.submitted)">
                            <p>กรุณาระบุ username</p>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" #password="ngModel" [(ngModel)]="user.password" name="password" placeholder="password" required>
                        </div>
                    </div>
                    <div class="ui error message" *ngIf="(!password.value && f.submitted)">
                        <p>กรุณาระบุ password</p>
                    </div>
                    <div class="field alignedleft">
                        <div class="ui checkbox">
                        <input type="checkbox" tabindex="0" class="hidden"  [checked]="user.isSave" (change)="user.isSave = !user.isSave">
                        <label>บันทึกรหัสผ่าน</label>
                        </div>
                    </div>
                    <button type="submit" class="ui fluid large green submit button">เข้าสู่ระบบ</button>
                    <div class="ui error message" *ngIf="invalid">
                        <p>{{err_message}}</p>
                    </div>
                </div>

                <div class="ui error message"></div>

            </form>
            <p class="forgetpass" ><a (click)="forgetmodal.show()">ลืมรหัสผ่าน?</a></p>
            <forgetpass #forgetmodal></forgetpass>
            <!--<div class="ui message">
                <a href="#">ลืมรหัสผ่าน?</a>
            </div>-->
        </div>
    </div>

</main>