<section class="mu_mainTB">
  <p class="realdata">*ข้อมูลที่ถูกต้องกรุณายืนยันกับเจ้าหน้าที่สหกรณ์</p>
  <ng-content *ngIf="!loading"></ng-content>
  <div class="ui segment" style="height:350px" [hidden]="!loading">
    <div class="ui dimmer" [ngClass]="{'active':loading}">
      <div class="ui loader"></div>
    </div>
  </div>
</section>
