 @import "~/../src/styles.scss";
.mu_mainTB {
	width: 100%;
	margin-top: 5px;
    @media only screen and (max-width: $windowsize_M) {
		clear: left;
		width: 100%;
		padding: 0;
	}
	min-height: 350px;
}
.realdata{
	text-align: right;
	padding-top: 20px;
	padding-bottom: 5px;
	padding-right: 5px;
	color:#e2640f;
	// text-decoration: underline;
}