@import "~/../src/styles.scss";
.leftside {
    float: left;
    width: 260px;
    height: 100%;
    padding: 0 15px;
    padding-top: 46px;
    @media only screen and (max-width: $windowsize_M) {
		display: none;
	}
}
.rightside {
    float: left;
    width: calc(100% - 260px);
    padding-right: 15px;
    @media only screen and (max-width: $windowsize_M) {
        width: 100%;
        padding: 0;
    }
}