
<table-comp  [control]="cftable" (onClickColumn)="onClickColumn($event)" [class]="'hover_row clickable_row'"></table-comp>
<guaranter-modal></guaranter-modal>

<footer *ngIf="cftable.getBodyRow().length > 0">
    <sizination-comp [cfsizination]="cftable.getSizination()" [(ngModel)]="currentSize"></sizination-comp>
    <pagination-comp [cfpagination]="cftable.getPagination()" [(ngModel)]="currentPage" [class]="'right'"></pagination-comp>
</footer>




