<ul>
    <li *ngFor="let menu of menuItems; let i = index" [routerLink]="[menu.url]" routerLinkActive="mu_submenu_selected">
        <div class="mu_submenu_icon" [ngStyle]="{'background-image':'url('+menuBgList[i].image+')'}"></div>
        <div class="mu_submenu_text">
            <i class="th">{{menu.label}}</i>
            <i class="eng">{{menuBgList[i].text}}</i>
        </div>
    </li>
</ul>