@import "~/../src/styles.scss";

li {
    margin: 20px 0;
    height: 80px;
    width: 230px;
    border-radius: 3px;
    box-shadow: 0 0px 4px -1px rgba(0,0,0,0.75);
    background-color: white;
    cursor: pointer;
    .mu_submenu_icon {
        width: 80px;
        height: 80px;
        background-size: cover;
        background-position: center;
        float: left;
    }
    .mu_submenu_text {
        width: 150px;
        float: right;
        padding-left: 20px;
        padding-top: 18px;
        i {
            display: block;
            line-height: 1.3;
            font-family: 'Athiti';
        }
        .th {
            font-size: 1.2em;
            font-weight: 700;
            color: #7cb700;
        }
        .eng {
            font-size: 0.9em;
            color: #c4c4c4;
        }
    }
}

.mu_submenu_selected {

}