/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Athiti:500|Pridi:300,500');
@import "~compass-mixins/lib/compass/reset";
$BGcolor: rgb(247,247,247);
$ThemeTone: #066135;
$ThemeFont: #4d8a00;
$LightThemeTone: #1a8834;
$windowsize_L: 992px;
$windowsize_M: 768px;
$windowsize_S: 576px;
$menuItemNum: 8;
html,body{
	min-height: 100%;
}
body {
	font-family: 'Pridi', serif;
	font-weight: 300;
	// min-width: 200px;
	h1, h2, h3, th {
		font-family: 'Athiti', sans-serif!important;
	}
	background-color: #F7F7F7;
	@media only screen and (max-width: $windowsize_M) {
		background-color: white;
	}
}

button {
	padding: 0;
	background-color: inherit;
	border: none;
}
i.icon{
	font-family: Icons;
}
.modal-nopadding{
	padding: 0;
	div.content{
		padding:0px 5px !important;
	}
}
.modal-minheight-medium{
	div.content{
		min-height: 400px !important;
	}
}
.navBar_selected {
	height: calc(100% - 3px)!important;
	color: white!important;
	i {
		transform: scale(1.2);
	}
	outline: none;
	@media only screen and (max-width: $windowsize_M) {
		width: calc(100% - 5px)!important;
		height: 80px!important;
	}
}

.menuBar_shadow {
	ul {
		box-shadow: 0px 0.3px 4px 1px rgba(0,0,0,0.3);
	}
}
.ui.modal>.header{
    font-family:'Pridi' !important;
	color:$ThemeFont;
	font-weight: normal;
}

@mixin B2C($size) {
	width: $size;
	height: $size;
	position: relative;
	&:before,&:after,span {
		transition: all 0.5s;
		display: block;
		width: 40%;
		height: 10%;
		background-color: white;
		position: absolute;
		left: 50%;
	}
	&:before {
		content: "";
		top: 30%;
		transform: translate(-50%, 0);
	}
	&:after {
		content: "";
		bottom: 30%;
		transform: translate(-50%, 0);
	}
	span {
		top: 50%;
		transform: translate(-50%, -50%);
	}
}

.active_B2C {
	&:before {
		top: 50%!important;
		transform: translate(-50%, -50%) rotateZ(45deg)!important;
	}
	&:after {
		bottom: 50%!important;
		transform: translate(-50%, 50%) rotateZ(-45deg)!important;
	}
	span {
		width: 0px!important;
	}
}
.ui.dropdown .menu>.item{
	font-weight: 300;
}