@import "~/../src/styles.scss";
@import "./table.variable.scss";

.ui.table {
    width: 100%;
    margin: 30px auto;
    margin-top:0;
    border-color: $tb_BGcolor-Header;
    text-align: center;
    font-family: $tb_fontfamily;
    line-height: $tb_lineheight;
    thead {
        text-align: center;
        line-height: $tb_lineheight-header;
        tr {
            th {
                background-color: $tb_BGcolor-Header !important;
                font-size: $tb_fontsize-header;
                color: $tb_color-header;
                font-weight: 300;
                padding: $tb_padding-header 0;
            }
        }
    }
    tbody {
        font-size: $tb_fontsize-body;
        color: $tb_color-body;
        padding: $tb_padding-body 0;
        background-color: $tb_BGcolor-Body;
        tr {
            height: 46px;
            td{
                font-weight: 300;
            }
        }
    }
    tfoot{
        font-size: $tb_fontsize-footer;
        background-color: $tb_BGcolor-Footer;
        color: $tb_color-footer;
        padding: $tb_padding-footer 0;
    }

}

.hover_row{
    tbody{
        tr:hover{
            background-color: #ecf4e1;
        }
    }
}

.clickable_row{
    tbody{
        tr{
            cursor:pointer;
        }
    }
}

.mu_noData {
    display: block;
    width: 100%;
    max-width: 400px;
    text-align: center;
    margin: 50px auto;
    font-size: 1.5rem;
    color: #b7b7b7;
}
.loader-container{
    height: 300px;
}