<div class="ui segment loader-container" [hidden]="!cftable.loading">
  <div class="ui dimmer" [ngClass]="{'active':cftable.loading}">
      <div class="ui loader"></div>
  </div>
</div>
<table  class="ui table unstackable {{class}}" [hidden]="cftable.loading">
  <thead>
    <tr>
      <th *ngFor="let header of cftable.getTable().header.heads">
        {{header.getLabel()}}
      </th>
      <th *ngIf="cextendcolumn">
      
      </th>
    </tr>
  </thead>
  <tbody *ngIf="cftable.getBodyRow().length > 0">
    <tr *ngFor="let row of cftable.getBodyRow() let i = index" >
      <td *ngFor="let column of cftable.getColumn(i)" [ngStyle]="cftable.getHeadWithId(column?.getId())?.getStyle()" (click)="onClickCol(column,row)">{{column?.getValue()}} </td>
      <td *ngIf="cextendcolumn">
        <ng-container  *ngTemplateOutlet="cextendcolumn;context:{'cfitem':{'column':undefined,'row':row}}">

        </ng-container>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="cftable.getFootColumn().length > 0 && cftable.getBodyRow().length > 0">
    <tr >
      <td *ngFor="let column of cftable.getFootColumn()">{{column?.getValue()}} </td>
       <td *ngIf="cextendcolumn">

       </td>
    </tr>
  </tfoot>
  
  <!--<tfoot>
    <tr><td>test</td></tr>
  </tfoot>-->
</table>
<i *ngIf="cftable.getBodyRow().length == 0 && !cftable.loading" class="mu_noData">ไม่มีข้อมูล</i>
