$tb_BGcolor-Header: #1a8834;
$tb_BGcolor-Body: white;
$tb_BGcolor-Footer: #1a8834;
$tb_fontsize-header: 1.1em;
$tb_fontsize-body: 1em;
$tb_fontsize-footer: 1em;
$tb_color-header: white;
$tb_color-body: black;
$tb_color-footer: white;
$tb_padding-header: 0.35em;
$tb_padding-body: 0;
$tb_padding-footer: 0;
$tb_lineheight-header: 2;
$tb_fontfamily: 'Pridi';
$tb_lineheight: 1;