<!--<p>Main Header</p>
<h1></h1>
<account-comp></account-comp>-->
<!--<account-comp></account-comp>-->
<header [ngClass]="{hide:isOpen}">
    <span [routerLink]="[redirect]" class="link">
        <div class="mu_Logo"></div>
        <h1 class="mu_title">{{title}}</h1>
    </span>
    <!-- onclick="ToggleMenu()" -->
    <button *ngIf="hasMenu" type="button" class="mu_MenuBarToggle" [ngClass]="{active_B2C:isOpen}" (click)="toggle()">
			<span></span>
	</button>
    <div>
        <div class="mu_userName">
            <profile-dropdown></profile-dropdown>
        </div>
    </div>
    <p class="mu_welcome">ยินดีต้อนรับเข้าสู่ระบบ Maejo Co op E-manange</p>
</header>