	@import "~/../src/styles.scss";
    header {
		width: 100%;
		height: 100px;
		padding: 0 5em 0 2.5em;
		background-color: $ThemeTone;
		box-shadow: 0px 0.3px 4px 1px rgba(0,0,0,0.3);
        font-size: 16px;
		z-index: 16;
		.mu_welcome {
			color: white;
			position: absolute;
			top: 5px;
			right: 5em;
			@media only screen and (max-width: $windowsize_L) {
				right: 2em;
			}
			@media only screen and (max-width: $windowsize_M) {
				right: 1em;
			}
			@media only screen and (max-width: $windowsize_S) {
				display: none;
			}
		}
		.link{
			cursor: pointer;
			outline: none;
		}
		.mu_Logo {
			width: 70px;
			height: 70px;
			background-color: white;
			border-radius: 50%;
			margin: 10px;
			margin-top: 15px;
			float: left;
			background-image: url("/assets/icon/Logo.png");
			background-position: center center;
			background-size: cover;
		}
		.mu_title {
			font-size: 1.8em;
			float: left;
			line-height: 3.5;
			margin-left: 15px;
			color: white;
			font-weight: 500;
		}
		div {
			float: right;
			.mu_userName {
				height: 60px;
				margin: 20px 0;
				line-height: 2.5;
				float: right;
				font-size: 1.5em;
				color: white;
		
			}
			// button {
			// 	float: right;
			// 	width: 30px;
			// 	height: 30px;
			// 	margin: 32px 0 38px 0;
			// 	font-size: 1.2em;
			// }
		}
		.mu_MenuBarToggle {
			@include B2C(50px);
			background-color: $ThemeTone;
			float: right;
			margin-top: 15px;
			display: none;
		}
		@media only screen and (max-width: $windowsize_L) {
			height: 80px;
			padding-right: 2em;
			padding-left: 2em;
			.mu_Logo {
				width: 60px;
				height: 60px;
				margin-top: 10px;
			}
			.mu_title {
				line-height: 2.8;
			}
			div {
				.mu_userName {
					height: 40px;
					line-height: 1.5;
				}
			}
		}
		@media only screen and (max-width: $windowsize_M) {
			padding-left: 1em;
			padding-right: 1em;
			position: fixed;
			top: 0;
			left: 0;
			transition: left 1s;
			.mu_title {
				display: none;
			}
			.mu_MenuBarToggle {
				display: block;
			}
		}
		@media only screen and (max-width: $windowsize_S) {
			padding: 0;
			div {
				margin-right: 5px;
				.mu_userName {
					line-height: 1.8;
				}
			}
		}
		&.hide{
			left:-250px;
		}
	}