p{
    padding-bottom: 15px;
    font-size: 1.15em;
    b{
        color:#94c653;
        text-decoration: underline;
    }

}
.ui.message{
    display: inline-block;
    margin-bottom: 15px;
    font-weight: 300;
    .label{
        font-weight: 300;
        cursor:auto;
    }
}
:host{
    margin-top:-20px;
}