
<div class="ui teal message"> <i>สถานะการยื่นกู้:</i>
  <ng-container  *ngIf="status; else nullData">
    <div class="ui blue label">{{status}}</div>
  </ng-container>
  <ng-template #nullData>
    <span></span>
  </ng-template>
</div>