@import "~/../src/styles.scss";

div {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin: 0 auto;
    background-color: white;
    border-top: 5px solid $LightThemeTone;
    border-radius: 2px;
    padding: 2rem 2rem;
    box-shadow: 2px 2px 5px 0px rgba(212,212,212,1);
    text-align: center;
    @media only screen and (max-width: $windowsize_M) {
        border: none;
        background-color: inherit;
        box-shadow: none;
    }
}