 @import "~/../src/styles.scss";
.mu_memberContainer {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 2px;
    border: 1px solid $LightThemeTone;
    box-shadow: 0 0px 5px -2px rgba(0,0,0,0.75);
    h3 {
        border-radius: 2px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        box-shadow: 0 0px 5px -2px rgba(0,0,0,0.75);
        font-size: 1.25em;
        line-height: 2.5em;
        padding-left: 1rem;
        background-color: $LightThemeTone;
        color: white;
    }
    .sidebar-content {
        padding: 1.5rem 1rem;
        .sidebar-label {
            color: $ThemeFont;
        }
        .sidebar-value {
            padding: 1rem 0 1em 1.5rem;
        }
    }
}