<div class="mu_memberContainer">
    <h3><i class="user icon"></i> สมาชิก</h3>
    <div class="sidebar-content">
        <p class="sidebar-label">รหัสสมาชิก {{code}}</p>
        <p class="sidebar-value">{{name}}</p>
        <p class="sidebar-label">ครั้งสุดท้ายที่เข้ามา</p>
        <p class="sidebar-value">{{lastTimeString}}</p>
        <p class="sidebar-label">วันที่ทำการ</p>
        <p class="sidebar-value">{{datework}}</p>
    </div>
</div>