
<table-comp [control]="cftable" (onClickColumn)="onClickColumn($event)"></table-comp>


<!--<footer>
    <sizination-comp [cfsizination]="cftable.getSizination()" [(ngModel)]="currentSize"></sizination-comp>
    <pagination-comp [cfpagination]="cftable.getPagination()" [(ngModel)]="currentPage" [class]="'right'"></pagination-comp>
</footer>-->




