@import "~/../src/styles.scss";

.mu_pic {
    float: left;
    width: 150px;
    height: 200px;
    margin: 0 30px;
    border-radius: 2px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.no-pic {
    background-size: 100px auto;
    background-color: #e4e4e4;
}

.mu_info {
    float: left;
    width: calc(100% - 210px);
    height: auto;
    // background-color: blue;
    padding-left: 40px;
    .mu_row {
        width: 100%;
        height: auto;
        margin-bottom: 5px;
        // background-color: green;
        &:after {
            content: "";
            display: block;
            clear: both;
        }
        .mu_outputField {
            float: left;
            margin-bottom: 20px;
            width: 100%;
            height: 42px;
            .mu_outputLabel {
                margin-bottom: 10px;
                font-weight: 700;
            }
        }
        .mu_short {
            width: 30%;
        }
    }
}
.mu_address {
    width: 100%;
    h2 {
        font-size: 1.4em;
        padding-bottom: 0.5em;
        color: $ThemeFont;
        border-bottom: 1px solid #b4b4b4;
        margin-bottom: 30px;
    }
    .mu_row {
        padding-left: 20px;
    }
}

@media only screen and (max-width: $windowsize_M - 1) {
    .mu_pic {
        margin: 0 auto 30px;
        float: none;
    }
    .mu_info {
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
        float: none;
        padding: 0;
        .mu_row {
            padding: 0;
        }
        .mu_outputField {
            margin-left: 20px;
        }
        .mu_short {
            width: calc(50% - 20px)!important;
        }
    }
}